.additionally {
  position: relative;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 $mobile-padding;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 42px;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: $green;
    z-index: -1;
  }
}

.additionally__title {
  width: 226px;
  padding: 30px $mobile-padding;
  margin: 0;
  margin-left: -20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
}

.additionally__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .additionally {
    width: $tablet-width;
    padding: 0 $tablet-padding;

    &::before {
      top: 21px;
    }
  }

  .additionally__title {
    width: 338px;
    padding: 0 37px;
    margin-left: 0;
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 36px;
    background-color: #ffffff;
  }

  .additionally__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .additionally {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $desktop-width;
    padding: 0 $desktop-padding;
    margin-top: -60px;

    &::before {
      top: 21px;
    }
  }

  .additionally__title {
    width: 338px;
    padding: 0 $desktop-padding;
    margin-left: -40px;
  }

  .additionally__order {
    display: block;
  }

  .additionally__container {
    width: 285px;
  }

  .additionally__wrapper {
    width: 610px;
  }
}
