.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 30px $mobile-padding 25px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  background-color: #ffffff;

  &--background-color {
    background-color: $grey;
  }

  &__title {
    width: 125px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: pre-line;
  }

  &__text {
    width: 135px;
    margin: 0;
    font-family: "Arial", sans-serif;
    color: $light-black;
  }
}

@media (min-width: $tablet-width) {
  .address {
    width: 100%;
    padding: 63px 71px 60px;

    &__title {
      width: 155px;
      font-size: 20px;
      line-height: 25px;
    }

    &__text {
      width: 155px;
      font-size: 16px;
      text-align: right;
    }

    &__text--city {
      display: block;
      padding-top: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: absolute;
    top: 95px;
    left: $desktop-padding;
    width: 570px;
    padding: 70px 90px 60px 75px;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 10;

    &__text {
      text-align: left;
    }
  }
}
