.address {
  width: 100%;
  padding: 30px $mobile-padding 25px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  background-color: #ffffff;
}

.address--background-color {
  background-color: $grey;
}

.address__title {
  width: 125px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: pre-line;
}

.address__text {
  width: 135px;
  margin: 0;
  font-family: "Arial", sans-serif;
  color: $light-black;
}

@media (min-width: $tablet-width) {
  .address {
    padding: 0;
  }
  .address__title {
    width: 155px;
    font-size: 20px;
    line-height: 25px;
  }

  .address__text {
    width: 155px;
    font-size: 16px;
    text-align: right;
  }

  .address__text--city {
    display: block;
    padding-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: absolute;
    top: 95px;
    left: $desktop-padding;
    width: 570px;
    padding: 70px 90px 60px 75px;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 10;
  }

  .address__text {
    text-align: left;
  }
}
