.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;

  &--example {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .container {
    align-items: center;
    width: 708px;

    &--example {
      display: flex;
    }

    &--address {
      width: $tablet-width;
      padding: 63px 71px 60px;
      box-sizing: border-box;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    padding: 0 $desktop-padding;
    box-sizing: border-box;

    &--example {
      width: 50%;
      padding: 0;
      background-color: $grey;
      flex-direction: column;
      align-items: flex-start;
    }

    &--address {
      width: 405px;
      padding: 0;
    }

    &--additionally {
      padding: 0;
    }
  }
}
