.copyright {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 18px 0 30px;
}

.copyright__logo {
  display: block;
  padding: 9px 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $light-black;
  text-align: left;

  &:focus {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover .copyright__image,
  &:focus .copyright__image {
    fill: $green;
  }

  &:focus .copyright__image {
    opacity: 0.3;
  }
}

.copyright__image {
  position: absolute;
  top: 17px;
  right: -10px;
  width: 45px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 162px;
    padding: 0;
    margin: 0;
  }

  .copyright__image {
    top: -5px;
    right: -10px;
  }
}
