.description {
  width: 140px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: $light-black;
  border-collapse: collapse;
}

.description__value {
  text-align: right;
  padding-left: 2px;
}

@media (min-width: $tablet-width) {
  .description {
    width: 245px;
    font-size: 16px;
    border-collapse: collapse;
  }

  .description__item td {
    padding: 8px 0 6px;
    border-bottom: 1px solid $dark-grey;
  }
}

@media (min-width: $desktop-width) {
  .description {
    width: 165px;
  }
}
