.example {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: $mobile-width;
  padding: 21px $mobile-padding 0;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $grey;
}

.example__title {
  width: 280px;
  margin: 0 auto 21px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__text {
  width: 270px;
  margin: 0;
  margin-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: $light-black;
}

.example__cost {
  margin: 0;
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: $tablet-width;
    padding: 0;
    background-color: #ffffff;
    border-top: 1px solid $grey-border;
  }

  .example__title {
    width: $tablet-width;
    padding: 41px $tablet-padding 0;
    box-sizing: border-box;
    margin-bottom: 63px;
    font-size: 60px;
    font-weight: 400;
  }

  .example__text {
    width: 680px;
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__cost {
    width: 192px;
    margin-bottom: 255px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .example {
    min-width: $desktop-width;
    border-top: none;
  }

  .example__title {
    width: $desktop-width;
    padding: 17px $desktop-padding 72px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  .example__text {
    width: 431px;
    padding: 74px 180px 67px $desktop-padding;
    margin: 0;
    margin-left: auto;
  }

  .example__cost {
    width: 430px;
    margin: 0;
    margin-left: auto;
    padding: 0 180px 74px $desktop-padding;
    line-height: 20px;
    text-align: left;
  }

  .example__sum {
    padding-left: 64px;
  }
}
