.example-before__image {
  margin-bottom: 27px;
  width: 280px;
  height: 232px;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .example-before {
    position: relative;
    width: 100%;
    min-height: 462px;
    padding-left: $tablet-padding;
    box-sizing: border-box;
    background-color: $grey;
  }

  .example-before__image {
    width: 636px;
    height: 499px;
    padding-left: 16px;
    margin-top: -164px;
  }
}

@media (min-width: $desktop-width) {
  .example-before {
    position: relative;
    width: 50%;
    padding: 0;
    padding-right: $desktop-padding;
    box-sizing: border-box;
  }

  .example-before__image {
    height: 499px;
    padding-left: 0;
    margin-top: -180px;
  }
}
