.footer {
  display: flex;
  flex-direction: column;
  min-width: $mobile-width;
  margin: 0 auto;
  background-color: $grey;
}

.footer__logo-image {
  width: 128px;
  height: 24px;
  padding: 40px 76px 30px;
  border-bottom: 1px solid $dark-grey;
}

.footer__logo:hover .footer__logo-image {
  opacity: 0.8;
}

.footer__logo:focus .footer__logo-image {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: $tablet-width;
  }

  .footer__logo-image {
    padding: 64px 0 62px;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    position: relative;
    min-width: $desktop-width;
  }
}
