.form {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__title {
  padding: 28px $mobile-padding 33px;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  background-color: #ffffff;
}

.form__label {
  position: relative;
  display: flex;
  align-items: center;
  width: $mobile-width;
  padding: 0 $mobile-padding;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #222222;
}

.form__input {
  flex-grow: 1;
  padding: 10px 15px;
  margin-left: 12px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $light-black;
  text-transform: uppercase;
  border: 1px solid rgba(205, 205, 205, 0.5);

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: $light-black;
    text-transform: uppercase;
  }

  &:hover {
    border-color: $grey-border;
  }

  &:active {
    border: 2px solid $light-black;
  }

  &:focus + .form-contact__mail,
  &:focus + .form-contact__phone {
    fill: $green;
  }

  &--error {
    border-color: #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .form {
    width: $tablet-width;
    padding: 0 $tablet-padding;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 20px;
  }

  .form__title {
    padding: 28px 40px 33px;
    font-size: 36px;
    line-height: 36px;
  }

  .form__label {
    width: 100%;
    padding: 0 40px;
    margin-bottom: 20px;
  }

  .form__input {
    padding: 10px 18px;
    margin-left: 18px;
    font-size: 20px;
    line-height: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: $desktop-width;
    padding: 0;
  }

  .form__title {
    padding: 28px $desktop-padding 33px;
  }

  .form__label {
    width: 570px;
    padding: 0;
  }

  .form__container {
    display: flex;
    justify-content: space-between;
    width: $desktop-width;
    padding: 0 $desktop-padding;
    box-sizing: border-box;
  }
}
