.form-contact {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 42px;
    left: 0;
    width: $mobile-width;
    height: 3px;
    background-color: $green;
    z-index: -1;
  }
}

.form-contact__title {
  position: relative;
  width: 183px;
}

.form-contact__mail {
  position: absolute;
  top: 15px;
  right: 35px;
  width: 18px;
  height: 14px;

  &__mail--error {
    fill: #ff8282;
  }
}

.form-contact__phone {
  position: absolute;
  top: 11px;
  right: 33px;
  width: 21px;
  height: 21px;

  &__phone--error {
    fill: #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .form-contact {
    margin-bottom: 43px;

    &::before {
      top: 47px;
      width: $tablet-width;
    }
  }

  .form-contact__title {
    width: 513px;
    margin-bottom: 42px;
  }

  .form-contact__mail {
    top: 19px;
    right: 55px;
  }

  .form-contact__phone {
    top: 16px;
    right: 52px;
  }
}

@media (min-width: $desktop-width) {
  .form-contact {
    &::before {
      width: $desktop-width;
    }
  }

  .form-contact__label--email,
  .form-contact__label--phone {
    padding: 0 $desktop-padding;
    box-sizing: initial;
  }

  .form-contact__mail {
    top: 17px;
    right: 21px;
  }

  .form-contact__phone {
    top: 14px;
    right: 18px;
  }
}
