.form-comment {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $green;
    z-index: -1;
  }
}

.form-comment__title {
  width: 120px;
  padding-top: 11px;
}

.form-comment__textarea {
  width: 252px;
  padding: 13px;
  margin: 0 $mobile-padding;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $light-black;
  text-align: left;
  text-transform: uppercase;
  border: 1px solid $grey-border;
  resize: none;

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: $light-black;
    text-align: left;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .form-comment {
    padding: 0 $tablet-padding;
    margin-bottom: 41px;
  }

  .form-comment__title {
    width: 180px;
    padding: 0 40px 77px;
    margin-left: 0;
  }

  .form-comment__textarea {
    width: 586px;
    padding: 17px 20px;
    margin: 0 40px;
    font-size: 20px;
    line-height: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-comment {
    margin-bottom: 47px;
  }

  .form-comment__title {
    width: 180px;
    padding: 0 $desktop-padding;
    padding-bottom: 75px;
    margin-left: -$desktop-padding;
  }

  .form-comment__textarea {
    width: 1170px;
    padding: 15px 25px;
    margin: 0;
  }
}
