.form-program {
  position: relative;
  padding-bottom: 25px;
  padding-left: 45px;

  &:last-child {
    padding-bottom: 0;
  }
}

.form-program__input + .form-program__input-new {
  position: absolute;
  top: -7px;
  left: 0;
  width: 29px;
  height: 29px;
  border: 1px solid $grey-border;
  border-radius: 50%;
}

.form-program__input:hover + .form-program__input-new {
  border-color: #bababa;
}

.form-program__input:focus ~ .form-program__text {
  color: rgba(34, 34, 34, 0.3);
}

.form-program__input:focus + .form-program__input-new {
  border-color: #bababa;
  opacity: 0.3;
}

.form-program__input:checked + .form-program__input-new::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 12px;
  height: 12px;
  background-color: $green;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .form-program {
    width: 286px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }

  .form-program__input + .form-program__input-new {
    left: -13px;
    width: 38px;
    height: 38px;
  }

  .form-program__input:checked + .form-program__input-new::before {
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
  }
}
