.form-contact {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 42px;
    left: 0;
    width: $mobile-width;
    height: 3px;
    background-color: $green;
    z-index: -1;
  }

  &__title {
    position: relative;
    width: 183px;
  }

  &__mail {
    position: absolute;
    top: 15px;
    right: 35px;
    width: 18px;
    height: 14px;
  }

  &__phone {
    position: absolute;
    top: 11px;
    right: 33px;
    width: 21px;
    height: 21px;
  }

  &__mail--error,
  &__phone--error {
    fill: #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .form-contact {
    margin-bottom: 43px;

    &::before {
      top: 47px;
      width: $tablet-width;
    }

    &__title {
      width: 513px;
      margin-bottom: 42px;
    }

    &__mail {
      top: 19px;
      right: 55px;
    }

    &__phone {
      top: 16px;
      right: 52px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-contact {
    &::before {
      width: $desktop-width;
    }

    &__label--email,
    &__label--phone {
      padding: 0 $desktop-padding;
      box-sizing: initial;
    }

    &__mail {
      top: 17px;
      right: 21px;
    }

    &__phone {
      top: 14px;
      right: 18px;
    }
  }
}
