.gift {
  position: relative;
  width: 280px;
  min-height: 289px;
  margin: 39px auto 35px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 50% 0;
  background-color: #72b649;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/gift-photo-mobile@2x.jpg") no-repeat 0 0;
    background-color: $green;
    background-size: 280px auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 23%;
    left: 35%;
    width: 56px;
    height: 61px;
    background: url("../img/icon-gift.svg") no-repeat 0 0;
  }
}

.gift__text {
  width: 161px;
  margin: 0 auto;
  text-align: center;
  padding-top: 190px;
  white-space: pre-line;
}

@media (min-width: $tablet-width) {
  .gift {
    width: 708px;
    min-height: 200px;
    margin: 69px auto 72px;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }

    &::before {
      top: 61px;
      left: 90px;
    }
  }

  .gift__text {
    text-align: left;
    padding-top: 68px;
    padding-left: 300px;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    width: 245px;
    min-height: 290px;
    margin: 0;
    margin-bottom: 85px;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }

    &::before {
      left: 96px;
    }
  }

  .gift__text {
    text-align: center;
    padding-top: 190px;
    padding-left: 0;
  }
}
