.map {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 150px;
    left: 122px;
    width: 55px;
    height: 53px;
    background: url("../img/map-pin.png") no-repeat 0 0;
    background-size: cover;
    z-index: 2;
  }
}

.map__iframe {
  position: relative;
  width: $mobile-width;
  height: 360px;
  z-index: 1;
}

.map__image {
  position: absolute;
  top: 0;
  left: 0;
  width: $mobile-width;
  height: 360px;
}

@media (min-width: $tablet-width) {
  .map::before {
    top: 145px;
    left: 320px;
    width: 113px;
    height: 106px;
  }

  .map__iframe {
    width: $tablet-width;
    height: 400px;
  }

  .map__image {
    width: $tablet-width;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map::before {
    top: 100px;
    left: 320px;
    width: 113px;
    height: 106px;
  }

  .map__iframe {
    width: $desktop-width;
  }

  .map__image {
    width: $desktop-width;
  }
}
