.promo {
  width: $mobile-width;
  margin: 0 auto 22px;
  padding: 27px $mobile-padding 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat 0 0;
  background-color: $green;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/index-background-mobile@2x.jpg") no-repeat 0 0;
    background-size: 320px auto;
  }
}

.promo__title {
  width: 250px;
  margin: 0 auto;
  padding-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__text {
  margin: 0;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.promo__image {
  width: 280px;
  height: 270px;
}

.promo__link {
  display: block;
  width: 280px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: $tablet-width;
    padding: 0 $tablet-padding;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $black;
    background: none;
  }

  .promo__title {
    width: 425px;
    margin-left: 88px;
    padding-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }

  .promo__text {
    margin-left: 88px;
    padding-bottom: 20px;
  }

  .promo__image {
    width: 709px;
    height: 609px;
  }

  .promo__link {
    position: absolute;
    top: 226px;
    left: 119px;
    line-height: 20px;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: $desktop-width;
    margin: 0 auto 130px;
    padding: 0 $desktop-padding;
    box-sizing: border-box;
  }

  .promo__title {
    margin-left: 82px;
  }

  .promo__text {
    margin-left: 81px;
  }

  .promo__image {
    margin-top: -280px;
    margin-left: 450px;
    width: 552px;
    height: 499px;
    text-align: center;
  }

  .promo__link {
    top: 233px;
    left: 120px;
  }
}
