.promo {
  width: $mobile-width;
  margin: 0 auto 22px;
  padding: 27px $mobile-padding 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
}

.promo__title {
  width: 250px;
  margin: 0 auto;
  padding-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__text {
  margin: 0;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.promo__image {
  width: 280px;
  height: 270px;
}

.promo__link {
  display: block;
  width: 280px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: $tablet-width;
    padding: 0 $tablet-padding;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $black;
    background: none;
  }

  .promo__title {
    width: 425px;
    margin-left: 88px;
    padding-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }

  .promo__text {
    order: 1;
    margin-left: 88px;
    padding-bottom: 48px;
  }

  .promo__image {
    margin: -81px 0 -23px;
    width: 709px;
    height: 609px;
  }

  .promo__picture {
    order: 3;
  }

  .promo__link {
    order: 2;
    margin-left: 88px;
    line-height: 20px;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: $desktop-width;
    margin: 0 auto 268px;
    padding: 0 $desktop-padding;
    box-sizing: border-box;
  }

  .promo__title {
    margin-left: 82px;
  }

  .promo__text {
    width: 425px;
    margin-left: 81px;
    padding-bottom: 54px;
  }

  .promo__image {
    position: absolute;
    top: 0;
    left: 490px;
    width: 552px;
    height: 499px;
    text-align: center;
  }

  .promo__link {
    top: 233px;
    margin-left: 80px;
  }
}
