.slider-controls {
  display: flex;
  align-items: center;
  position: absolute;
  top: 267px;
  left: 44px;
}

.slider-controls__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-controls__line {
  position: relative;
  width: 82px;
  height: 12px;
  margin: 0 18px;
  background-color: #ffffff;
  border: 1px solid $grey-border;
  border-radius: 6px;
}

.slider-controls__line::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 10px;
  height: 6px;
  margin-left: 6px;
  background-color: $green;
  border-radius: 3px;
}

.slider-controls__range {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider-controls {
    top: 80%;
    left: 13%;
  }

  .slider-controls__label {
    font-size: 20px;
    padding-bottom: 6px;
    border-bottom: 1px dashed #b8b8b8;

    &:hover {
      border-bottom: 1px solid #989898;
    }
  }

  .slider-controls__line {
    display: none;
  }

  .slider-controls__range {
    display: block;
    appearance: none;
    width: 428px;
    margin: 0 21px;
    background: transparent;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      height: 6px;
      background-color: #dcdcdc;
      border-radius: 2.5px;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 40px;
      height: 40px;
      margin-top: -17px;
      background: url("../../img/slider-control.png") no-repeat 0 0;
      border-radius: 50%;
      background-size: contain;
      cursor: pointer;
    }

    &:hover::-webkit-slider-thumb {
      background-image: url("../../img/slider-control-hover.png");
    }

    &:focus::-webkit-slider-thumb {
      background-image: url("../../img/slider-control-focus.png");
    }
  }

  .slider-controls__range::-moz-range-track {
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 2.5px;
  }

  .slider-controls__range::-moz-range-thumb {
    width: 34px;
    height: 34px;
    background: url("../../img/slider-control.png") no-repeat 0 0;
    border: none;
    border-radius: 50%;
    background-size: contain;
    cursor: pointer;
  }

  .slider-controls__range:hover::-moz-range-thumb {
    background-image: url("../../img/slider-control-hover.png");
  }

  .slider-controls__range:focus::-moz-range-thumb {
    background-image: url("../../img/slider-control-focus.png");
    outline: none;
  }

  .slider-controls__range::-moz-focus-outer {
    border: 0;
  }

  .slider-controls__range::-ms-track {
    height: 6px;
    padding-top: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 15px 0;
    color: transparent;
  }

  .slider-controls__range::-ms-tooltip {
    visibility: hidden;
  }

  .slider-controls__range::-ms-fill-lower,
  .slider-controls__range::-ms-fill-upper {
    background: #dcdcdc;
    border: 0 solid #000101;
    border-radius: 2.5px;
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
  }

  .slider-controls__range::-ms-thumb {
    width: 34px;
    height: 34px;
    background: url("../../img/slider-control.png") no-repeat 0 0;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
    border: 0 solid #000000;
    cursor: pointer;
  }

  .slider-controls__range:hover::-ms-thumb {
    background-image: url("../../img/slider-control-hover.png");
  }

  .slider-controls__range:focus::-ms-thumb {
    background-image: url("../../img/slider-control-focus.png");
  }
}

@media (min-width: $desktop-width) {
  .slider-controls {
    top: 365px;
    left: 40px;
  }
}
