.slider-item {
  display: none;
}

.slider-item__image {
  height: 232px;
  width: 311px;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .slider-item {
    width: 100%;
    padding-bottom: 121px;
    margin: 0 auto;
    text-align: center;
    background-color: $grey;

    &--after {
      background-color: #eaeaea;
    }
  }

  .slider-item__image {
    width: 677px;
    height: 499px;
    margin-top: -160px;
    object-fit: contain;
  }
}

@media (min-width: $desktop-width) {
  .slider-item {
    width: 100%;
    padding: 0 $desktop-padding 137px;
    box-sizing: border-box;
  }

  .slider-item__image {
    margin-top: -183px;
    margin-left: -40px;
    object-fit: cover;
  }
}
