.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding: 20px 0;
  margin: 0 auto;
  list-style: none;
  border-bottom: 1px solid $dark-grey;
}

.social__link {
  padding-right: 40px;
  cursor: pointer;

  &:hover .social__logo,
  &:focus .social__logo {
    fill: $green;
  }

  &:focus .social__logo {
    opacity: 0.3;
  }
}

.social__logo--vk {
  width: 22px;
  height: 12px;
}

.social__logo--insta {
  width: 17px;
  height: 17px;
}

.social__logo--fb {
  width: 10px;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .social {
    width: 324px;
    margin: 0;
    padding: 44px 0 62px;
    border-bottom: none;
  }

  .social__logo--vk {
    width: 30px;
    height: 16px;
  }

  .social__logo--insta {
    width: 23px;
    height: 23px;
  }

  .social__logo--fb {
    width: 14px;
    height: 28px;
  }
}
