.additionally {
  width: $mobile-width;
  margin: 0 auto;

  &__title {
    position: relative;
    padding: 30px $mobile-padding;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
  }

  &__title::before {
    content: "";
    position: absolute;
    top: 42px;
    right: 0;
    width: 17%;
    height: 3px;
    background-color: $green;
  }
}
