.advantages {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 $mobile-padding 45px;
  box-sizing: border-box;
  text-align: left;

  &__title {
    margin: 0;
    font-size: 36px;
    line-height: 60px;
  }

  &__text {
    position: relative;
    margin: 0;
    padding: 27px 6px 0 80px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $light-black;
  }

  &__text::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $green;
  }

  &__text--leaf::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 7px;
    width: 40px;
    height: 40px;
    background: url("../img/advantage-leaf@1x.png") no-repeat 0 0;
    z-index: 1;
  }

  &__text--powder::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 6px;
    width: 40px;
    height: 40px;
    background: url("../img/advantage-powder@1x.png") no-repeat 0 0;
    z-index: 1;
  }

  &__text--dining::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: url("../img/advantage-dining@1x.png") no-repeat 0 0;
    z-index: 1;
  }

  &__text--clock::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: url("../img/advantage-clock@1x.png") no-repeat 0 0;
    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    width: $tablet-width;
    margin: 0 auto;
    padding: 0 $tablet-padding 55px;
    box-sizing: border-box;
    text-align: left;

    &__title {
      font-size: 60px;
      padding-bottom: 63px;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &__text {
      position: relative;
      width: 245px;
      margin: 0;
      padding: 117px 0 48px;
      font-size: 16px;
      line-height: 24px;
    }

    &__text:nth-child(odd) {
      margin-right: 140px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: $desktop-width;
    padding: 0 0 90px;

    &__text:nth-child(odd),
    &__text {
      margin-right: 80px;
    }

    &__text:last-child {
      margin-right: 0;
    }
  }
}
