.all-products {
  flex-direction: column;
  border-bottom: 1px solid $dark-grey;

  &__plus {
    display: block;
    margin: 25px auto 23px;
    width: 31px;
    height: 31px;
    background: url("../img/icon-plus.svg") no-repeat 0 0;
    opacity: 0.2;
  }

  &__show-more {
    margin: 0;
    padding-bottom: 6px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $black;
  }

  &__text {
    margin: 0;
    padding-bottom: 20px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: $light-black;
  }

  &__show-all {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $light-black;
  }

  &__show-all:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .all-products {
    align-items: center;
    border: 1px solid $dark-grey;
    background-color: transparent;

    &__plus {
      margin: 13px auto 50px;
      width: 61px;
      height: 61px;
    }

    &__show-more {
      width: 140px;
      margin-bottom: 21px;
      font-size: 20px;
    }

    &__text {
      width: 170px;
      font-size: 16px;
    }

    &__show-all {
      width: 250px;
      margin: auto;
      margin-bottom: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .all-products {
    &__show-all {
      width: 170px;
    }
  }
}
