.button {
  display: block;
  width: 280px;
  padding: 11px 0;
  text-align: center;
  color: $white;
  background-color: $green;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $green-hvr;
  }

  &:focus {
    opacity: 0.3;
  }

  &--show {
    background-color: $grey;
  }

  &--show:hover,
  &--show:focus {
    background-color: $grey-hvr;
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 245px;
    padding: 17px 0;

    &--order {
      padding: 11px 0;
    }

    &--show {
      background-color: $grey;
      padding: 11px 0;
    }
  }
}
