.button {
  display: block;
  width: 280px;
  padding: 11px 0;
  text-align: center;
  color: $white;
  background-color: $green;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $green-hvr;
  }

  &:focus {
    opacity: 0.3;
  }

  &--color {
    background-color: $grey;
  }

  &--color:hover,
  &--color:focus {
    background-color: $grey-hvr;
  }
}
