.catalog-item {
  display: flex;
  flex-wrap: wrap;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 $mobile-padding;
  box-sizing: border-box;
  border-top: 1px solid $dark-grey;
  text-align: center;

  &__wrapper {
    display: flex;
  }

  &__name {
    width: 75px;
    margin: 0;
    padding: 21px 0 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    color: $black;
  }

  &__image {
    width: 140px;
    height: 144px;
  }

  &__order {
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    justify-content: center;
    width: 324px;
    padding: 40px 37px 20px;
    margin: 0 60px 140px 0;
    box-sizing: border-box;
    border-top: none;
    background-color: $grey;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &__wrapper {
      flex-direction: column;
    }

    &__image {
      margin: -86px 0 13px;
      width: 161px;
      height: 172px;
      object-fit: cover;
    }

    &__image--big {
      margin-top: -122px;
      width: 195px;
      height: 208px;
    }

    &__name {
      width: 131px;
      padding-left: 60px;
      padding-bottom: 21px;
      font-size: 20px;
      text-align: center;
    }

    &__order {
      width: 250px;
      margin-top: 31px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    width: 245px;
    padding: -1px 39px;
    box-sizing: border-box;
    margin-right: 80px;
    margin-bottom: 140px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &__name {
      padding-left: 20px;
    }

    &__order {
      width: 170px;
    }
  }
}
