$green: #68b738;
$green-hvr: #5eaa2f;
$grey: #f2f2f2;
$grey-hvr: #ebebeb;
$grey-background: #eaeaea;
$grey-border: #cdcdcd;
$dark-grey: #d9d9d9;
$black: #111111;
$light-black: #444444;
$white: #ffffff;
