.copyright {
  position: relative;
  padding: 18px 0;

  &__logo {
    display: block;
    padding: 9px 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: $light-black;
    text-align: left;
  }

  &__logo:hover &__path,
  &__logo:focus &__path {
    fill: $green;
  }

  &__logo:focus {
    opacity: 0.3;
  }

  &__image {
    position: absolute;
    top: 17px;
    right: -9px;
    width: 45px;
    height: 40px;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 162px;
    padding: 57px 0 53px;

    &__image {
      top: 55px;
    }
  }
}
