.description {
  width: 140px;
  padding-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: $light-black;

  &__value {
    text-align: right;
  }
}
