.example {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  padding: 21px $mobile-padding 35px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $grey;

  &__title {
    margin: 0 0 21px;
    font-size: 36px;
    line-height: 60px;
  }

  &__text {
    width: 270px;
    margin-bottom: 23px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: $light-black;
  }

  &__cost {
    margin-bottom: 44px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__image {
    margin-bottom: 35px;
    width: 311px;
    height: 232px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: $tablet-width;
    padding: 50px $tablet-padding;
    box-sizing: border-box;
    background-color: #ffffff;

    &__title {
      width: 100%;
      margin-bottom: 55px;
      font-size: 60px;
    }

    &__text {
      width: 680px;
      margin-bottom: 55px;
      font-size: 16px;
      line-height: 24px;
    }

    &__cost {
      width: 192px;
      margin-bottom: 100px;
      font-size: 20px;
      text-align: right;
    }
  }
}
