.example-before {
  &__image {
    margin-bottom: 27px;
    width: 311px;
    height: 232px;
    object-fit: cover;
  }
}

@media (min-width: $tablet-width) {
  .example-before {
    position: relative;
    width: 50%;
    min-height: 462px;
    padding-left: $tablet-padding;
    box-sizing: border-box;
    background-color: $grey;

    &__image {
      width: 338px;
      height: 499px;
      padding-left: 16px;
      margin-top: -164px;
      object-position: -1% 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .example-before {
    position: relative;
    width: 325px;
    padding-left: 0;

    &__image {
      width: 365px;
      height: 499px;
      padding-left: 0;
      margin-top: -180px;
      object-fit: cover;
      object-position: 10% 0;
    }
  }
}
