.footer {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  background-color: $grey;

  &__logo-image {
    width: 128px;
    height: 24px;
    padding: 40px 76px 30px;
    border-bottom: 1px solid $dark-grey;
  }

  &__logo:hover &__logo-image {
    opacity: 0.8;
  }

  &__logo:focus &__logo-image {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $tablet-width;

    &__logo-image {
      padding: 64px 0 62px;
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer {
    position: relative;
    width: $desktop-width;
  }
}
