.footer {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 $mobile-padding;
  box-sizing: border-box;
  background-color: $grey;

  &__map {
    display: block;
    margin-bottom: 40px;
  }

  &__logo-image {
    width: 128px;
    height: 24px;
    padding: 0 76px;
    padding-bottom: 30px;
    border-bottom: 1px solid $dark-grey;
  }

  &__logo:hover &__logo-image {
    opacity: 0.8;
  }

  &__logo:focus &__logo-image {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $tablet-width;
    padding: 0 $tablet-padding;

    &__logo-image {
      padding: 64px 0 62px;
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: $desktop-width;
    padding: 0 $desktop-padding;
    box-sizing: border-box;

    &__map {
      width: 100%;
    }
  }
}
