.form-list {
  padding: 27px $mobile-padding;
  margin: 0;
  list-style: none;

  &--border {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }

  &--padding {
    padding: 0 $mobile-padding 38px;
  }
}

@media (min-width: $tablet-width) {
  .form-list {
    width: 630px;
    padding: 37px 43px;
    box-sizing: border-box;
    margin: 0 auto;

    &--border {
      border-left: 1px solid #ededed;
      border-right: 1px solid #ededed;
    }

    &--padding {
      padding: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-list {
    width: $desktop-width;
    padding: 35px $desktop-padding;
  }
}
