@media (min-width: $tablet-width) {
  .form-programs {
    margin-bottom: 48px;
  }
}

@media (min-width: $desktop-width) {
  .form-programs {
    width: 610px;
    padding-right: $desktop-padding;
  }

  .form-programs .form-list {
    width: 570px;
  }
}
