@media (min-width: $desktop-width) {
  .form-programs {
    width: 570px;
    padding-bottom: 50px;
  }

  @media (min-width:$desktop-width) {
    .form-programs {
      padding-right: $desktop-padding;
    }

    .form-programs .form-list{
      width: 570px;
    }
  }
}
