.main {
  text-align: left;

  &__title {
    width: $mobile-width;
    margin: 0 auto;
    padding: 15px $mobile-padding 28px;
    box-sizing: border-box;
    font-size: 36px;
    line-height: 60px;
    font-weight: normal;
    color: $black;
    border-top: 1px solid $dark-grey;
  }
}

@media (min-width: $tablet-width) {
  .main {
    &__title {
      width: $tablet-width;
      padding: 0 $tablet-padding 163px;
      margin: 0 auto;
      box-sizing: border-box;
      font-size: 60px;
      border-top: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main {
    &__title {
      width: $desktop-width;
      padding: 0 $desktop-padding 163px;
      box-sizing: border-box;
    }
  }
}
