.pro {
  margin-bottom: 30px;

  &__text {
    width: 201px;
    padding-right: 39px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background: url("../img/icon-cat-pro.svg") no-repeat 0 0;
    z-index: 1;
  }
}
