.program {
  position: relative;
  width: $mobile-width - 2 * $mobile-padding;
  margin: 0 auto 20px;
  padding: 30px 20px 20px;
  box-sizing: border-box;
  text-align: left;
  background-color: $grey;

  &__title {
    margin: 0;
    padding-left: 71px;
    padding-bottom: 29px;
    font-size: 24px;
    line-height: 37px;
    font-weight: normal;
    text-transform: uppercase;
    color: $black;
  }

  &__text {
    margin: 0;
    padding-bottom: 22px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $light-black;
    border-bottom: 1px solid $dark-grey;

    &--slim {
      width: 225px;
      padding-right: 15px;
    }

    &--pro {
      width: 201px;
      padding-right: 39px;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding-top: 20px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $black;
  }

  &__link::after {
    content: "";
    position: absolute;
    top: 22px;
    right: 120px;
    width: 25px;
    height: 12px;
    background: url("../img/icon-right-arrow-long.svg");
  }

  &__link:focus {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 51px;
    border-radius: 50%;
    background-color: $green;
  }

  &--slim::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background: url("../img/icon-cat-slim.svg") no-repeat 0 0;
    z-index: 1;
  }

  &--pro::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background: url("../img/icon-cat-pro.svg") no-repeat 0 0;
    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .program {
    width: 100%;
    padding: 75px 0 63px 55px;
    box-sizing: border-box;

    &__title {
      margin: 0;
      padding-bottom: 25px;
      padding-left: 0;
      font-size: 36px;
    }

    &__text {
      padding-bottom: 36px;
      font-size: 16px;
      line-height: 24px;
      border-bottom: none;

      &--slim {
        width: 375px;
      }

      &--pro {
        width: 340px;
      }
    }

    &__link {
      position: relative;
      display: block;
      padding-top: 20px;
      font-size: 20px;
      line-height: 20px;
    }

    &__link::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 130px;
      width: 25px;
      height: 12px;
      background: url("../img/icon-right-arrow-long.svg");
    }

    &::after {
      top: 92px;
      left: 446px;
      width: 200px;
      height: 200px;
    }

    &--slim {
      margin-bottom: 30px;
    }

    &--slim::before {
      content: "";
      position: absolute;
      top: 80px;
      left: 477px;
      width: 141px;
      height: 194px;
      background: url("../img/icon-cat-slim.svg") no-repeat 0 0;
      z-index: 1;
    }

    &--pro {
      margin-bottom: 45px;
    }

    &--pro::before {
      content: "";
      position: absolute;
      top: 133px;
      left: 413px;
      width: 268px;
      height: 113px;
      background: url("../img/icon-cat-pro.svg") no-repeat 0 0;
      z-index: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 570px;
    margin: 0;
    padding-left: 50px;

    &__title {
      margin: 0;
      padding-bottom: 75px;
      padding-left: 158px;
      font-size: 36px;
    }

    &__text {
      padding-bottom: 11px;

      &--slim {
        width: 465px;
      }

      &--pro {
        width: 450px;
      }
    }

    &::after {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &--slim {
      margin-bottom: 0;
    }

    &--slim::before {
      content: "";
      position: absolute;
      top: 41px;
      left: 65px;
      width: 71px;
      height: 97px;
      background: url("../img/icon-cat-slim.svg") no-repeat 0 0;
      z-index: 1;
    }

    &--pro {
      margin-bottom: 0;
    }

    &--pro::before {
      content: "";
      position: absolute;
      top: 69px;
      left: 34px;
      width: 134px;
      height: 57px;
      background: url("../img/icon-cat-pro.svg") no-repeat 0 0;
      z-index: 1;
    }
  }
}
