@media (min-width: $tablet-width) {
  .programs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $tablet-width;
    margin: 0 auto;
    padding: 0 $tablet-padding;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto 72px;
    padding: 0;
  }
}
