.promo-background {
  display: none;
}

@media (min-width: $desktop-width) {
  .promo-background {
    display: block;
    position: absolute;
    top: -221px;
    right: 0;
    width: 50%;
    height: 696px;
    background: url("../img/index-background-desktop@1x.jpg") no-repeat 0 0;
    background-color: $green;
    z-index: -1;
  }
}
