.slim {
  margin-bottom: 20px;

  &__text {
    width: 225px;
    padding-right: 15px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background: url("../img/icon-cat-slim.svg") no-repeat 0 0;
    z-index: 1;
  }
}
