.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding: 20px 0;
  margin: 0 auto;
  list-style: none;
  border-bottom: 1px solid $dark-grey;

  &__link {
    padding-right: 40px;
    cursor: pointer;
  }

  &__link:hover .social__logo,
  &__link:focus .social__logo {
    fill: $green;
  }

  &__link:focus .social__logo {
    opacity: 0.3;
  }

  &__logo--vk {
    width: 22px;
    height: 12px;
  }

  &__logo--insta {
    width: 17px;
    height: 17px;
  }

  &__logo--fb {
    width: 10px;
    height: 19px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    width: 324px;
    margin: 0;
    padding: 64px 0 62px;
    border-bottom: none;

    &__logo--vk {
      width: 30px;
      height: 16px;
    }

    &__logo--insta {
      width: 23px;
      height: 23px;
    }

    &__logo--fb {
      width: 14px;
      height: 28px;
    }
  }
}
