.table {
  width: 140px;
  padding-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $light-black;

  &__row {
    width: 70px;
  }

  &__cell {
    text-align: left;
  }

  &__cell:last-child {
    text-align: right;
  }
}
